<div class="wrapper">
    <div class="container">
       <div class="row">
        <div class="col-sm-4 smoll-nav-bar-wrapper">
            <a href="https://www.facebook.com/shopForYourHome/">
                <img class="logo-img" src="../../assets/logo.jpg" alt="logo">
            </a>
            <div class="smoll-nav-bar">
                <a routerLink="/items">Головна</a>
                <a routerLink="/delivery">Оплата</a>
                <a routerLink="/delivery">Доставка</a>
                <a routerLink="/info">Про нас</a>
            </div>
        </div>
        <div class="col-sm-4 menegers-container">
            <div class="meneger">
                <img src="../../assets/female.jfif" alt="Фото Насті">
                <h5>Настя</h5>
                <p>
                    <a href="https://www.facebook.com/messages/t/100020646165264" class="fab fa-facebook-messenger"></a>
                    <a href="https://www.facebook.com/profile.php?id=100020646165264" class="fab fa-facebook"></a>
                    <a href="viber://chat?number=380954779860" class="fab fa-viber"></a>
                </p>
            </div>
            <div class="meneger">
                <img src="../../assets/male.jfif" alt="Фото Саші">
                <h5>Саша</h5>
                <p>
                    <a href="https://www.facebook.com/messages/t/100024265215380" class="fab fa-facebook-messenger"></a>
                    <a href="https://www.facebook.com/profile.php?id=100023421131654" class="fab fa-facebook"></a>
                    <a href="viber://chat?number=380631775044" class="fab fa-viber"></a>
                </p>
            </div>
        </div>
       </div>
    </div>
</div>