<hr>
<h2>Способи доставки:</h2>
<div class="delivery-img-container">
    <div>
        <img src="../../assets/Delivery-1.png" alt="">
        <h3>Нова пошта</h3>
    </div>
    <div>
        <img src="../../assets/Delivery-2.jpg" alt="">  
        <h3>Укр пошта</h3>
    </div>
    <div>
        <img src="../../assets/Delivery-3.jpg" alt=""> 
        <h3>Justin</h3>
    </div>
</div>
<hr>
<h2>Оплата:</h2>
<div class="payment-img-container">
    <div>
        <img  src="../../assets/card.svg" alt="">
        <div class="payment-description">
            <h3>Безготівкова</h3>
            <p>Оплата замовлення на картку Приватбанку</p>
        </div>
    </div>
    <div>
        <img  src="../../assets/cash.svg" alt="">
        <div class="payment-description">
            <h3>Післяплатою</h3>
            <p>Оплата замовлення на картку Приватбанку часково (30% вартості товару але не менше 50грн), решта при отриманні у відділенні поштового перевізника!</p> 
        </div>
    </div>
</div>
<hr>
