<div class="row">
    <div class="text-center col-xs-10 col-xs-offset-1 " >
        <h2> {{ singinMode ? 'Зареєструватися' : 'Увійти'}} </h2>
        <form (ngSubmit)="OnSubmit(logForm)" #logForm=ngForm>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email" name="email" ngModel>
            </div>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="text" class="form-control" id="password" name="password" ngModel>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">{{ singinMode ? 'Зареєструватися' : 'Увійти'}}</button> 
                <button type="button" class="btn btn-info" (click)="togleMode()">{{ singinMode ? 'Увійти' : 'Зареєструватися'}}</button>
            </div>
        </form>
    </div>
</div>
