

<div class="col-xs-12 col-ms-12 clo-md-12 div-lg-12 item-wrapper" *ngFor="let item of wievCart">
        <div class="col-xs-5 col-ms-3">
            <img src="{{item.imgUrl}}" alt=""> 
        </div>
        <div class="col-xs-7 col-ms-9">
            <div>
                <h4>{{ item.name }}</h4>
            </div>
            <div>
                <span>Кількість: {{ item.count}} шт</span>
            
            </div>
            <div>
                <span>ціна: {{ item.price }}</span>
            </div>
            <div>
                <button class="btn btn-success round"(click)="OnChangeCount(item.id,'-')"><i class="fas fa-minus"></i></button>
                <button class="btn btn-success round"(click)="OnChangeCount(item.id,'+')"><i class="fas fa-plus"></i></button>
                <button class="btn btn-danger round btn-close" (click)="OnDeleteItem(item.id)"><i class="fas fa-times"></i></button>
            </div>
        </div>
</div>
<div class="pull-right">
   <span>Разом: {{summary}}.00грн</span> 
   <br>
   <button class="btn btn-success pull-right" [disabled]=(!wievCart[0]) [routerLink]="['order-form']">ЗАМОВИТИ</button>
</div>
<div class="clearfix"></div>
<router-outlet></router-outlet>