<hr>
<h3>Менеджери:</h3>
    <div class="menegers-container">
        <div class="meneger">
            <img src="../../assets/female.jfif" alt="Фото Насті">
            <h5>Настя</h5>
            <p>
                <a href="https://www.facebook.com/messages/t/100020646165264" class="fab fa-facebook-messenger"></a>
                <a href="https://www.facebook.com/profile.php?id=100020646165264" class="fab fa-facebook"></a>
                <a href="viber://chat?number=380954779860" class="fab fa-viber"></a>
            </p>
        </div>
        <div class="meneger">
            <img src="../../assets/male.jfif" alt="Фото Саші">
            <h5>Саша</h5>
            <p>
                <a href="https://www.facebook.com/messages/t/100024265215380" class="fab fa-facebook-messenger"></a>
                <a href="https://www.facebook.com/profile.php?id=100023421131654" class="fab fa-facebook"></a>
                <a href="viber://chat?number=380631775044" class="fab fa-viber"></a>
            </p>
        </div>
    </div>
<hr>
<h3>Ми у Facebook</h3>
<div class="reviews-container">
    <a href="https://www.facebook.com/shopForYourHome/"><img class="logo-img" width="150px" height="150px" src="../../assets/logo.jpg" alt="logo"></a>
    <a style="align-self: center" href="https://www.facebook.com/shopForYourHome/">https://www.facebook.com/shopForYourHome/</a>
</div>
<hr>
<h3>Відгуки!</h3>

<div class="reviews-container">
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D527929417940074%26id%3D100021690611246&width=350&show_text=true&height=192&appId" width="350" height="192" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fbazilchuk.kat%2Fposts%2F1197286843959511&width=350&show_text=true&height=250&appId" width="350" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D2638814839725891%26id%3D100007922019000&width=350&show_text=true&height=176&appId" width="350" height="176" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
</div>
<hr>
