<div class="{{(windowWidth>500) ? 'col-xs-6 col-sm-4 col-md-3' : 'col-xs-12 col-sm-4 col-md-3'}}">
    <div class="thumbnail item-conteiner">
        <img src="{{ item.imgUrl }}" alt="..." class="img-fluid" style="height: 200px" (click)="openItem()">
        <div class="caption">
            <h3 (click)="openItem()" >{{ item.name }}</h3>
            <p></p>
            <p> Ціна: {{ item.price }} грн</p>
            <p class="text-right">
                <button class="btn btn btn-success" type="button" [disabled]=(!!cart[item.id]) (click)="onToCart(item.id)">{{ !!cart[item.id] ? 'В кошику':'В кошик' }}</button>
            </p>
        </div>
    </div>
</div>
<app-arert-item [item]="item" *ngIf="showItemMode" (closeItemAlert)="openItem()"></app-arert-item>


